html {
    height: 100%;
}

.bodygrad {
    height: 100%;
    margin-left: 20;
    margin-right: 20;

}

.tab {
    padding-left: 30px;
    padding-top: 0px;
}

.banner {
    width: 100%;
    padding: 0px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(191, 228, 252, 1);
    background: -moz-linear-gradient(-45deg, rgba(191, 228, 252, 1) 0%, rgba(191, 228, 252, 1) 19%, rgba(187, 235, 124, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(191, 228, 252, 1)), color-stop(19%, rgba(191, 228, 252, 1)), color-stop(100%, rgba(187, 235, 124, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(191, 228, 252, 1) 0%, rgba(191, 228, 252, 1) 19%, rgba(187, 235, 124, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(191, 228, 252, 1) 0%, rgba(191, 228, 252, 1) 19%, rgba(187, 235, 124, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(191, 228, 252, 1) 0%, rgba(191, 228, 252, 1) 19%, rgba(187, 235, 124, 1) 100%);
    background: linear-gradient(135deg, rgba(191, 228, 252, 1) 0%, rgba(191, 228, 252, 1) 19%, rgba(187, 235, 124, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe4fc', endColorstr='#bbeb7c', GradientType=1);

}

ul.hit {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
}

ul.hit li.hit {
    padding: 0px;
    margin: 5px;
    display: inline-block;
    list-style: none;
}

b {
    color: red;
}

ul.hit li:last-child {
    margin-left: auto;
}

.instructions {
    color: #333333;
}

#messageBox {
    display: block;
    height: 60px;
}

img{
    border: 2px solid gray;
    box-shadow: gray;
}
